.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  background-color: rgba($color-white, 0.5);

  @include respond(tab-port) {
    transform: skewX(-9deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    float: left;
    clip-path: circle(50%);
    transform: translateY(-2.1rem) skewX(12deg);
    position: relative;

    @include respond(tab-port) {
      width: 20rem;
      height: 20rem;
      margin: 0rem auto 1rem auto;
      float: none;
      transform: translateY(-2.1rem) skewX(9deg);
    }

  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(tab-port) {
      transform: skewX(9deg);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;

  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}